<template>
  <div class="page">
    <template v-if="creator">
      <section class="page-title">
        {{ creator.bio.firstName }} {{ creator.bio.lastName }}
      </section>
      <section class="profile-info">
        <img class="avatar" :src="creator.bio.profileImageUrl">
        <span class="mobile-name">{{ creator.bio.firstName }} {{ creator.bio.lastName }}</span>
        <div class="rating">
          <img v-for="n in rating.filled" :key="'filled-' + n" src="@/assets/star_filled.png">
          <img
            v-for="n in rating.partial"
            :key="'partial-' + n"
            src="@/assets/star_partial_filled.png">
          <img v-for="n in rating.empty" :key="'empty-' + n" src="@/assets/star_empty.png">
        </div>
        <div class="likes">{{ creator.bio.likes }} Likes</div>
        <div class="bio">
          {{ creator.bio.profileDescription }}
        </div>
        <div class="categories">
          {{ categories }}
        </div>
      </section>
      <template v-if="isAuthorizedUserCreator">
        <template v-if="!creator.bio.isVerified">
          <section class="box">
            {{ 'msg_welcome_creator_pending' | remoteConfig }}
          </section>
          <a
            v-if="isShowInstagramConnectButton"
            href="#"
            class="btn second"
            @click.prevent="authenticate('instagram')"
            style="align-self: center; margin-top: 100px;"
          >
            Connect Instagram
          </a>
        </template>
        <template v-else>
          <section class="box" style="margin-bottom: 33px;">
            Download the app on iOS or Android to manage your account
          </section>
          <section class="app-buttons">
            <a
              target="_blank"
              :href="'ios_store_url' | remoteConfig"
            >
              <img src="@/assets/App_Store_Badge.png">
            </a>
            <a
              target="_blank"
              style="margin-left: 60px;"
              :href="'android_store_url' | remoteConfig"
            >
              <img src="@/assets/Google_Play_Badge.png">
            </a>
          </section>
        </template>
      </template>
      <template v-else>
        <section
          v-if="!creator.bio.active || isMaintenanceLock"
          class="box"
        >
          {{ creator.bio.firstName }} {{ creator.bio.lastName }} is not available for requests.
        </section>
        <template v-else>
          <section class="box">
            <label>{{ 'text_question_1' | remoteConfig }}</label>
            <label class="radio" style="margin-top: 20px;">
              <span>
                <input type="radio" value="me" v-model="order.for">
                Me
              </span>
            </label>
            <label class="radio">
              <span>
                <input type="radio" value="else" v-model="order.for">
                A gift for someone else
              </span>
              <input
                v-if="order.for === 'else'"
                style="margin-left: 42px;"
                type="text"
                placeholder="Jane Doe"
                v-model="order.forElseName"
                maxlength="50"
              >
            </label>
            <label style="margin-top: 29px;">{{ 'text_question_2' | remoteConfig }}</label>
            <textarea
              :placeholder="'text_question_2_info' | remoteConfig"
              v-model="order.notes"
              maxlength="280"
              v-bind:class="{ error: hasErrorNotes }"></textarea>
          </section>
          <section v-if="!authorized" class="box box-guest">
            <section class="do-login">
              <span>Already have an account?</span>
              <a href="#" @click.prevent="showModal = true">Login</a>
            </section>
            <label>Your Email</label>
            <input
              style="margin-top: 5px;"
              type="text"
              placeholder="youremail@website.com"
              v-model="order.guest.email"
              :class="{ error: errorMessage !== '' && hasErrorEmail }"
            >
            <label style="margin-top: 29px;">{{ 'text_question_3' | remoteConfig }}</label>
            <input
              style="margin-top: 5px;"
              type="text"
              placeholder="Jane Doe"
              v-model="order.guest.name"
              maxlength="50"
              :class="{ error: errorMessage !== '' && hasErrorName }"
            >
          </section>
          <label class="private-order checkbox" style="margin-top: 15px;">
            <input type="checkbox" v-model="order.isPrivate">
            Make this video private
          </label>
          <section class="order-buttons">
            <div
              v-if="isApplePayAvailable"
              style="margin-right: 19px; cursor: pointer;"
              class="apple-pay-button-with-text apple-pay-button-black-with-text"
              @click="makePayment('apple-pay')"
            >
              <span class="text">Buy with</span>
              <span class="logo"></span>
            </div>
            <a href="#" class="btn" @click.prevent="makePayment('card')">
              {{ 'button_label_creator_request' | remoteConfig }} - ${{ orderAmount / 100 }}
            </a>
            <span v-if="errorMessage" class="error-message">{{ errorMessage }}</span>
            <vue-stripe-checkout
              ref="checkoutRef"
              currency="usd"
              :amount="orderAmount"
              :email="checkoutEmail"
              :allow-remember-me="false"
            />
          </section>
          <label class="disclaimer">{{ 'text_disclaimer' | remoteConfig }}</label>
        </template>
      </template>
      <modal class="login-modal" v-if="showModal" @close="showModal = false">
        <div slot="body">
          <login :isModal="true"></login>
        </div>
      </modal>
      <modal v-if="justLoggedIn" @close="setJustLoggedIn(false)">
        <div slot="body">
          {{ 'msg_welcome_creator' | remoteConfig }}
        </div>
      </modal>
    </template>
    <img v-else class="ajax-loader" src="@/assets/ajax-loader.gif">
  </div>
</template>

<script>
import jsonp from 'jsonp';
import { mapGetters, mapMutations } from 'vuex';

import UserType from '@/models/UserType';
import Helper from '@/utils/Helper';
import Firebase from '@/vendors/Firebase';

import modal from '@/components/Modal.vue';
import login from '@/views/Login.vue';

export default {
  name: 'creator-profile',
  components: {
    modal, login,
  },
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      showModal: false,
      stripe: {
        instance: null,
        paymentRequest: null,
      },
      isApplePayAvailable: false,
      isAuthorizedUserCreator: false,
      authorizedFan: null,
      creator: null,
      errorMessage: '',
      hasErrorNotes: false,
      hasErrorName: false,
      hasErrorEmail: false,
      rating: {
        filled: 0,
        partial: 0,
        empty: 0,
        max: 5,
      },
      order: {
        for: 'me', // me / else
        forElseName: '',
        notes: '',
        isPrivate: false,
        isGuest: false,
        guest: {
          email: '',
          name: '',
        },
      },
    };
  },
  async created() {
    this.order.isGuest = !this.authorized;

    const { currentUser } = Firebase.instance.auth();

    if (currentUser && !currentUser.isAnonymous) {
      await Helper.getUser(currentUser.uid).then(({ userType }) => {
        this.isAuthorizedUserCreator = userType === UserType.CREATOR;

        if (!this.isAuthorizedUserCreator) {
          Helper.getFan(currentUser.uid).then((fan) => {
            this.authorizedFan = fan;
          });
        }
      });
    }

    Helper.getCreator(this.id).then((creator) => {
      if (!creator || (!this.isAuthorizedUserCreator && !creator.bio.isVerified)) {
        return this.$router.push('/');
      }

      this.creator = creator;

      this.stripe.instance = window.Stripe(process.env.STRIPE_PUBLISHABLE_KEY);

      this.stripe.paymentRequest = this.stripe.instance.paymentRequest({
        country: 'US',
        currency: 'usd',
        total: {
          label: 'Storybit',
          amount: this.orderAmount,
        },
        requestPayerName: true,
        requestPayerEmail: true,
      });

      this.stripe.paymentRequest.canMakePayment().then((result) => {
        if (result && result.applePay) {
          this.isApplePayAvailable = true;
        }
      });

      this.stripe.paymentRequest.on('token', (event) => {
        this.onStripeToken(event.token, (status) => {
          event.complete(status);
        });
      });

      const { averageRating } = this.creator.bio;
      this.rating.filled = Math.floor(averageRating);
      this.rating.empty = Math.floor(this.rating.max - averageRating);
      this.rating.partial = this.rating.max - this.rating.filled - this.rating.empty;

      return null;
    });
  },
  computed: {
    ...mapGetters(['authorized', 'remoteConfig', 'justLoggedIn']),
    isShowInstagramConnectButton() {
      return this.remoteConfig.ig_connect.defaultValue.value === 'true';
    },
    isMaintenanceLock() {
      return Helper.getRemoteProperty(this.remoteConfig, 'maintenance_lock') === true;
    },
    orderAmount() {
      if (!this.creator) {
        return 0;
      }

      return (this.order.isPrivate
        ? this.creator.bio.rate2USD || this.creator.bio.rateUSD
        : this.creator.bio.rateUSD
      ) * 100;
    },
    categories() {
      const enabled = [];

      Object.keys(this.creator.bio.categories).forEach((category) => {
        if (this.creator.bio.categories[category]) {
          enabled.push(category.charAt(0).toUpperCase() + category.slice(1));
        }
      });

      return enabled.join(', ');
    },
    checkoutEmail() {
      return this.authorizedFan ? this.authorizedFan.bio.email : this.order.guest.email;
    },
  },
  methods: {
    ...mapMutations(['setJustLoggedIn']),
    async makePayment(source) { // apple-pay / card
      this.hasErrorNotes = false;
      this.hasErrorEmail = false;
      this.hasErrorName = false;
      if (this.order.notes === '') {
        this.hasErrorNotes = true;
        this.errorMessage = 'Notes can not be empty';
      } else if (this.order.guest.email === '' && this.order.isGuest) {
        this.hasErrorEmail = true;
        this.errorMessage = 'Email can not be empty';
      } else if (this.order.guest.name === '' && this.order.isGuest) {
        this.hasErrorName = true;
        this.errorMessage = 'Name can not be empty';
      } else {
        if (this.order.for === 'else' && !this.order.forElseName) {
          return;
        } if (this.order.isGuest && (!this.order.guest.email || !this.order.guest.name)) {
          return;
        }

        if (source === 'apple-pay') {
          this.stripe.paymentRequest.show();
        } else if (source === 'card') {
          const { token } = await this.$refs.checkoutRef.open();
          this.onStripeToken(token);
        }
      }
    },
    async onStripeToken(token, completeCallback) {
      if (this.order.isGuest) {
        await Firebase.instance.auth().signInAnonymously();
      }

      const createCharge = Firebase.instance.functions().httpsCallable('createCharge');
      createCharge({
        token,
        order: this.order,
        orderAmount: this.orderAmount,
        creatorId: this.creator.uid,
        creatorName: `${this.creator.bio.firstName} ${this.creator.bio.lastName}`,
        rating: this.creator.bio.averageRating,
      }).then(({ data }) => {
        if (data !== 'succeeded') {
          return;
        }

        if (completeCallback) {
          completeCallback('success');
        }

        if (this.order.isGuest) {
          this.$router.push({ path: '/sign-up/fan', query: { email: this.checkoutEmail } });
        } else {
          this.$router.push('/my-orders');
        }
      });
    },
    authenticate(provider) {
      this.$auth.authenticate(provider).then((token) => {
        if (token) {
          jsonp(
            `https://api.instagram.com/v1/users/self/?access_token=${token.access_token}`,
            null,
            (err, data) => {
              if (err) {
                console.error(err.message);
                this.errorMessage = err.message;
              } else {
                const { uid } = Firebase.instance.auth().currentUser;
                const isVerified = data.data.counts.followed_by >= Number(this.remoteConfig.instagram_approve_follower_count.defaultValue.value); // eslint-disable-line
                Firebase.instance.database().ref('creators').child(`${uid}/bio`).update({
                  instagramUsername: data.data.username,
                  isVerified,
                  profileDescription: data.data.bio,
                  profileImageUrl: data.data.profile_picture,
                });
                Helper.getCreator(this.id).then((creator) => {
                  this.creator = creator;
                });

                if (isVerified && data.data.username !== '') {
                  Helper.branchLink(data.data.username, uid);
                }
              }
            },
          );
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.error
{
 border-bottom:1px solid red !important;
}
.page {
  width: 529px;
  align-self: center;
  padding-top: 15px;
  position: relative;

  .ajax-loader {
    align-self: center;
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
  }

  .page-title {
    height: 41px;
    font-size: 30px;
    font-weight: 500;
    line-height: 41px;
    color: #FFFFFF;
    position: absolute;
    top: -41px;
  }

  .profile-info {
    position: absolute;
    width: 169px;
    left: -20px - 169px;
    top: -75px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img.avatar {
      width: 150px;
      height: 150px;
      border: 3px solid #FFFFFF;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.04);
      border-radius: 100px;
      object-fit: fill;
    }

    .rating {
      margin-top: 3px;
      height: 16px;
      display: flex;

      img {
        flex: 0 0 16px;
        height: 16px;
        margin-left: 2px;
      }
    }

    .likes {
      margin-top: 3px;
      font-size: 10px;
      line-height: 15px;
      color: #4A4A4A;
    }

    .bio {
      margin-top: 33px;
      color: #4A4A4A;
      font-size: 14px;
      line-height: 20px;
    }

    .categories {
      margin-top: 33px;
      color: #4A4A4A;
      font-size: 10px;
      line-height: 15px;
      align-self: flex-start;
    }

    .mobile-name {
      display: none;
    }
  }

  .app-buttons {
    display: flex;
    justify-content: center;
    height: 39px;

    a {
      display: flex;
      flex: 0 0 39px;
    }

    img {
      width: 131px;
      height: 39px;
    }
  }

  .private-order {
    font-size: 14px;
    line-height: 19px;
    color: #4A4A4A;
    justify-content: center;
  }

  .order-buttons {
    display: flex;
    margin-top: 30px;
    justify-content: center;

    img {
      height: 38px;
    }

    .btn {
      width: 210px;
    }
  }

  .disclaimer {
    margin-top: 30px;
    text-align: center;
    font-size: 10px;
  }

  .box {
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.04),
      0 1px 2px 0 rgba(0,0,0,0.04),
      0 0 2px 0 rgba(0,0,0,0.18);
    padding: 30px 20px;
    font-size: 12px;
    line-height: 14px;
    color: #4A4A4A;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

    &-guest {
      position: relative;

      section.do-login {
        position: absolute;
        display: flex;
        align-items: center;
        font-size: 10px;
        top: 13px;
        right: 18px;

        a {
          color: #4A90E2;
          margin-left: 5px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    input[type=text] {
      background: none;
      border: none;
      border-bottom: 1px solid #979797;
      height: 19px;
      padding: 0;
      font-size: 14px;
      line-height: 19px;
      width: 180px;

      &::placeholder {
        color: #BBBBBB;
      }
    }

    textarea {
      resize: none;
      border: none;
      outline: none;
      font-size: 14px;
      line-height: 19px;
      text-shadow: 0 1px 0 0 rgba(255,255,255,0.5);

      &::placeholder {
        color: #BBBBBB;
      }
    }
  }

  label {
    font-size: 14px;
    color: #4A4A4A;
    line-height: 19px;
    text-shadow: 0 1px 0 0 rgba(255,255,255,0.5);

    &.checkbox,
    &.radio {
      display: flex;

      span {
        display: flex;
      }

      input[type=checkbox],
      input[type=radio] {
        margin-right: 7px;
      }
    }
  }

  /deep/ .login-modal {

    .modal-container {
      background-color: transparent;
      height: 295px;
      border: none;
      padding: 0;
    }

    .modal-header {
      height: 0;
    }

    .page {
      width: 370px;
      padding: 0;
      background-color: transparent;
      margin-top: 0;
    }
  }
}

// Apple Pay

@supports (-webkit-appearance: -apple-pay-button) {
  .apple-pay-button-with-text {
    display: inline-block;
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: buy;
  }
  .apple-pay-button-with-text > * {
    display: none;
  }
  .apple-pay-button-black-with-text {
    -apple-pay-button-style: black;
  }
  .apple-pay-button-white-with-text {
    -apple-pay-button-style: white;
  }
  .apple-pay-button-white-with-line-with-text {
    -apple-pay-button-style: white-outline;
  }
}

@media screen and (max-width: 600px) {

  .page {
    width: 100%;
    margin-top: -224px;
    padding-top: 0;

    .page-title {
      display: none;
    }

    .profile-info {
      position: static;
      width: 100%;
      padding: 0 35px;
      padding: 0 35px 30px;

      img.avatar {
        width: 90px;
        height: 90px;
      }

      .mobile-name {
        display: flex;
        color: #FFFFFF;
        font-size: 22px;
        font-weight: 500;
        margin-top: 8px;
      }

      .rating {
        display: none;
      }

      .likes {
        margin-top: 10px;
        color: #FFFFFF;
        font-size: 12px;
        line-height: 12px;
      }

      .bio {
        margin-top: 10px;
        color: #FFFFFF;
        font-size: 12px;
        line-height: 18px;
      }

      .categories {
        display: none;
      }
    }

    .box {
      padding: 22px 30px;
    }

    label {

      &.checkbox,
      &.radio {
        flex-direction: column;
        margin-bottom: 7px;

        input {
          margin-left: 0 !important;

          &[type=text] {
            margin-top: 19px;
          }
        }
      }

      &.private-order {
        flex-direction: row;
      }
    }
  }
}

@supports not (-webkit-appearance: -apple-pay-button) {
  .apple-pay-button-with-text {
    --apple-pay-scale: 1; /* (height / 32) */
    display: inline-flex;
    justify-content: center;
    font-size: 12px;
    border-radius: 5px;
    padding: 0px;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 32px;
    max-height: 64px;
  }
  .apple-pay-button-black-with-text {
    background-color: black;
    color: white;
  }
  .apple-pay-button-white-with-text {
    background-color: white;
    color: black;
  }
  .apple-pay-button-white-with-line-with-text {
    background-color: white;
    color: black;
    border: .5px solid black;
  }
  .apple-pay-button-with-text.apple-pay-button-black-with-text > .logo {
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-color: black;
  }
  .apple-pay-button-with-text.apple-pay-button-white-with-text > .logo {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white;
  }
  .apple-pay-button-with-text.apple-pay-button-white-with-line-with-text > .logo {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white;
  }
  .apple-pay-button-with-text > .text {
    font-family: -apple-system;
    font-size: calc(1em * var(--apple-pay-scale));
    font-weight: 300;
    align-self: center;
    margin-right: calc(2px * var(--apple-pay-scale));
  }
  .apple-pay-button-with-text > .logo {
    width: calc(35px * var(--scale));
    height: 100%;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: 0 50%;
    margin-left: calc(2px * var(--apple-pay-scale));
    border: none;
  }
}
</style>
