<template>
  <div class="page">
    <static-modal>
      <h1>Reset Your Password</h1>
      <section class="form">
        <input
          type="email"
          placeholder="email address"
          v-model="form.email"
          :class="{ error: errorMessage !== '' && hasErrorEmail }"
        />
        <span v-if="errorMessage" class="error-message">{{ errorMessage }}</span>
        <a href="#" class="btn" @click.prevent="resetPassword">Reset Password</a>
      </section>
    </static-modal>
  </div>
</template>

<script>
import Firebase from '@/vendors/Firebase';

import StaticModal from '@/components/StaticModal.vue';

export default {
  name: 'login',
  components: {
    StaticModal,
  },
  data() {
    return {
      form: {
        email: '',
      },
      hasErrorEmail: false,
      errorMessage: '',
    };
  },
  methods: {
    resetPassword() {
      this.errorMessage = '';
      this.hasErrorEmail = false;

      if (this.form.email === '') {
        this.errorMessage = 'Email can not be empty';
        this.hasErrorEmail = true;
        return;
      }

      Firebase.instance.auth().signInWithEmailAndPassword(this.form.email, this.form.password)
        .then(() => {
          alert('Check your email'); // eslint-disable-line
          this.$router.push('/my-orders');
        })
        .catch((error) => {
          this.errorMessage = error.message;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.page {
  background-color: #0093FF;
  align-items: center;

  /deep/ .static-modal {
    padding-bottom: 37px;

    h1 {
      margin-bottom: 23px;
    }
  }

  input {
    margin-bottom: 20px;

    &.last-child {
      margin-bottom: 31px;
    }
  }

  .forgot-password {
    margin-top: 12px;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 15px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
.error
{
 border:1px solid red;
}
</style>
