<template>
  <div class="page">
    <static-modal>
      <h1>Login to your account</h1>
      <section class="form">
        <input
          type="email"
          placeholder="email address"
          v-model="form.email"
          @keydown.enter="login"
          :class="{ error: errorMessage !== '' && hasErrorEmail }"
        />
        <input
          type="password"
          placeholder="password"
          v-model="form.password"
          @keydown.enter="login"
          :class="{ error: errorMessage !== '' && hasErrorPass }"
        />
        <a href="#" class="btn" @click.prevent="login">Login</a>
        <span v-if="errorMessage" class="error-message">{{ errorMessage }}</span>
      </section>
    </static-modal>
    <router-link class="forgot-password" to="/forgot-password">Forgot Password?</router-link>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

import Firebase from '@/vendors/Firebase';

import StaticModal from '@/components/StaticModal.vue';

export default {
  name: 'login',
  components: {
    StaticModal,
  },
  props: {
    isModal: {
      type: Boolean,
      required: false,
    },
  },
  data() {
    return {
      form: {
        email: '',
        password: '',
      },
      errorMessage: '',
      hasErrorEmail: false,
      hasErrorPass: false,
    };
  },
  methods: {
    ...mapMutations(['setJustLoggedIn']),
    login() {
      this.hasErrorEmail = false;
      this.hasErrorPass = false;
      this.errorMessage = '';

      if (this.form.password === '' && this.form.email === '') {
        this.hasErrorPass = true;
        this.hasErrorEmail = true;
        this.errorMessage = 'Email and password can not be empty';
      } else if (this.form.email === '') {
        this.hasErrorEmail = true;
        this.errorMessage = 'Email can not be empty';
      } else if (this.form.password === '') {
        this.hasErrorPass = true;
        this.errorMessage = 'Password can not be empty';
      }

      Firebase.instance.auth().signInWithEmailAndPassword(this.form.email, this.form.password)
        .then(() => {
          this.setJustLoggedIn(true);

          if (this.isModal) {
            document.location.reload();
          } else {
            this.$router.push('/my-orders');
          }
        })
        .catch((error) => {
          this.errorMessage = error.message;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.page {
  background-color: #0093FF;
  align-items: center;

  /deep/ .static-modal {
    padding-bottom: 37px;

    h1 {
      margin-bottom: 23px;
    }
  }

  input {
    margin-bottom: 20px;

    &.last-child {
      margin-bottom: 31px;
    }
  }

  .forgot-password {
    margin-top: 12px;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 15px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
.error
{
 border:1px solid red;
}
</style>
