<template>
  <div class="page">
    <static-modal>
      <h1>Set your rates</h1>
      <section class="form">
        <input
          type="number"
          min="5"
          max="999"
          placeholder="Fee for PUBLIC videos (ex. $100)"
          v-model.number="form.publicFee"
          :class="{ error: errorMessage !== '' && hasErrorPublicFee }"
          @keydown.enter="submit()"
        >
        <input
          type="number"
          min="5"
          max="999"
          placeholder="Fee for PRIVATE videos (ex. $150)"
          v-model.number="form.privateFee"
         :class="{ error: errorMessage !== '' && hasErrorPrivateFee }"
          @keydown.enter="submit()"
        >
        <a href="#" class="btn second" @click.prevent="submit()">Submit</a>
        <span v-if="errorMessage" class="error-message">{{ errorMessage }}</span>
      </section>
    </static-modal>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

import Firebase from '@/vendors/Firebase';

import StaticModal from '@/components/StaticModal.vue';

export default {
  name: 'sign-up-set-rates',
  components: {
    StaticModal,
  },
  data() {
    return {
      form: {
        publicFee: '',
        privateFee: '',
      },
      errorMessage: '',
      hasErrorPublicFee: false,
      hasErrorPrivateFee: false,
    };
  },
  methods: {
    ...mapMutations(['setJustLoggedIn']),
    submit() {
      this.errorMessage = '';

      if ((this.form.publicFee === '') && (this.form.privateFee === '')) {
        this.hasErrorPublicFee = true;
        this.hasErrorPrivateFee = true;
        this.errorMessage = 'All fields are required';
        return;
      }

      if (this.form.publicFee === '') {
        this.hasErrorPublicFee = true;
        this.errorMessage = 'Public fee is required field';
        return;
      }

      if (this.form.privateFee === '') {
        this.hasErrorPrivateFee = true;
        this.errorMessage = 'Private fee is required field';
        return;
      }

      if ((this.form.publicFee < 5) || (this.form.publicFee > 999)) {
        this.hasErrorPublicFee = true;
        this.errorMessage = 'Public fee should be from $5 to $999';
        return;
      }

      if ((this.form.privateFee < 5) || (this.form.privateFee > 999)) {
        this.hasErrorPrivateFee = true;
        this.errorMessage = 'Private fee from $5 to $999';
        return;
      }

      const { uid } = Firebase.instance.auth().currentUser;

      Firebase.instance.database().ref('creators').child(`${uid}/bio`).update({
        rateUSD: this.form.publicFee,
        rate2USD: this.form.privateFee,
      });

      this.setJustLoggedIn(true);

      this.$router.push({ name: 'creator-profile', params: { id: uid } });
    },
  },
};
</script>

<style lang="scss" scoped>
.page {
  background-color: #0092ff;
  align-items: center;

  /deep/ .static-modal {
    padding-bottom: 37px;

    h1 {
      margin-bottom: 23px;
    }
    span.text {
      color: #4A4A4A;
      text-align: center;
      width: 250px;
      padding: 0 0 20px 0;
    }
  }

  input {
    margin-bottom: 20px;

    &.last-child {
      margin-bottom: 31px;
    }
  }
}
.error
{
 border:1px solid red;
}
</style>
