<template>
  <div class="page">
    <static-modal>
      <h1>Verify your profile</h1>
      <section class="form">
        <input
          type="text"
          placeholder="Enter invite code"
          v-model.lazy="form.inviteCode"
          @change="checkEnterCode"
          @keydown.enter="checkEnterCode"
        >
        <span v-if="errorMessage" class="error-message">{{ errorMessage }}</span>
        <span class="text" v-if="isShowInstagramConnectButton">OR</span>
        <a
          href="#"
          class="btn second"
          @click.prevent="authenticate('instagram')"
          v-if="isShowInstagramConnectButton"
        >
          Connect Instagram
        </a>
      </section>
    </static-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import jsonp from 'jsonp';

import Firebase from '@/vendors/Firebase';
import Helper from '@/utils/Helper';

import StaticModal from '@/components/StaticModal.vue';

export default {
  name: 'sign-up-verify-profile',
  components: {
    StaticModal,
  },
  data() {
    return {
      form: {
        inviteCode: '',
      },
      errorMessage: '',
    };
  },
  computed: {
    ...mapGetters(['remoteConfig']),
    isShowInstagramConnectButton() {
      return this.remoteConfig.ig_connect.defaultValue.value === 'true';
    },
  },
  methods: {
    authenticate(provider) {
      this.$auth.authenticate(provider).then((token) => {
        if (token) {
          jsonp(
            `https://api.instagram.com/v1/users/self/?access_token=${token.access_token}`,
            null,
            (err, data) => {
              if (err) {
                console.error(err.message);
                this.errorMessage = err.message;
              } else {
                const { uid } = Firebase.instance.auth().currentUser;
                const isVerified = data.data.counts.followed_by >= Number(this.remoteConfig.instagram_approve_follower_count.defaultValue.value); // eslint-disable-line
                Firebase.instance.database().ref('creators').child(`${uid}/bio`).update({
                  instagramUsername: data.data.username,
                  isVerified,
                  profileDescription: data.data.bio,
                  profileImageUrl: data.data.profile_picture,
                });

                if (isVerified && data.data.username !== '') {
                  Helper.branchLink(data.data.username, uid);
                }

                this.$router.push('/set-rates');
              }
            },
          );
        }
      });
    },
    checkEnterCode() {
      this.errorMessage = '';

      Firebase.database.ref(`inviteCodes/${this.form.inviteCode}`).once('value').then((snapshot) => {
        if (snapshot.val() === false) {
          const { uid } = Firebase.instance.auth().currentUser;
          Firebase.instance.database().ref('users').child(uid).update({
            inviteCode: this.form.inviteCode,
          });
          Firebase.instance.database().ref('creators').child(`${uid}/bio`).update({
            isVerified: true,
          });
          this.$router.push('/set-rates');
        } else {
          this.errorMessage = 'Invalid Invite Code';
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.page {
  background-color: #0092ff;
  align-items: center;

  /deep/ .static-modal {
    padding-bottom: 37px;

    h1 {
      margin-bottom: 23px;
    }
    span.text {
      color: #4A4A4A;
      text-align: center;
      width: 250px;
      padding: 0 0 20px 0;
    }
    span.error-message {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  input {
    margin-bottom: 20px;

    &.last-child {
      margin-bottom: 31px;
    }
  }
}
</style>
