<template>
  <div id="app" :class="[ 'page-' + $router.currentRoute.name ]">
    <header>
      <router-link to="/"><img class="logo" src="@/assets/logo.png"></router-link>
      <nav>
        <a href="#" v-if="authorized" @click.prevent="logout">Logout</a>
        <template v-else>
          <router-link
            v-if="$router.currentRoute.name !== 'sign-up'"
            to="/sign-up"
          >
            Sign Up
          </router-link>
          <router-link
            v-if="$router.currentRoute.name !== 'login'"
            to="/login"
          >
            Login
          </router-link>
        </template>
      </nav>
    </header>
    <section class="content">
      <router-view />
    </section>
    <footer>
      <nav>
        <a :href="'url_terms_of_service' | remoteConfig">Terms of Service</a>
        <a :href="'url_privacy_policy' | remoteConfig">Privacy Policy</a>
        <a :href="'url_FAQ' | remoteConfig">FAQ</a>
      </nav>
    </footer>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

import Firebase from '@/vendors/Firebase';

export default {
  name: 'app',
  computed: {
    ...mapGetters(['authorized', 'remoteConfig']),
  },
  created() {
    this.fetchRemoteConfig();
  },
  methods: {
    ...mapActions(['fetchRemoteConfig']),
    logout() {
      Firebase.instance.auth().signOut().then(() => {
        this.$router.push('/login');
      });
    },
  },
};
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  height: auto;
  display: flex;
}

html, body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
  min-height: 100%;

  header {
    height: 225px;
    flex: 0 0 225px;
    padding: 40px 100px 0;
    display: flex;
    align-items: flex-start;
    background-color: #0093FF;

    .logo {
      height: 45px;
      width: 170px;
    }

    nav {
      margin-left: auto;
      display: flex;

      a {
        color: #FFFFFF;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
        margin-left: 16px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  section.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;

    > div {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
    }
  }

  footer {
    flex: 0 0 84px;
    display: flex;
    align-items: center;
    justify-content: center;

    nav {
      display: flex;
      width: 341px;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: #4A4A4A;
        font-size: 14px;
        line-height: 20px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &.page-sign-up,
  &.page-sign-up-form,
  &.page-sign-up-verify-profile,
  &.page-sign-up-set-rates,
  &.page-login,
  &.page-forgot-password {

    footer {
      background-color: #0093FF;
    }
  }
}

.btn {
  height: 44px;
  width: 250px;
  background-color: #0093FF;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  &.btn-rose {
    background-color: #FD4176;
  }

  &.btn-black {
    background-color: #4C4C4C;
  }
}

input[type=text],
input[type=number],
input[type=email],
input[type=password] {
  height: 45px;
  width: 250px;
  background-color: #EFE8E8;
  padding: 14px 19px 12px;
  color: #4A4A4A;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  border: 1px solid #EFE8E8;
  outline: none;

  &.has-error {
    border-color: #E32F2F;
  }
}

section.form {
  display: flex;
  flex-direction: column;

  .error-message {
    color: #D0021B;
    font-size: 12px;
    line-height: 14px;
    margin-top: 39px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {

  #app {

    &.page-creator-profile {

      header {
        height: 285px;
        flex: 0 0 285px;
      }
    }

    header {
      padding: 12px 15px 0;

      .logo {
        height: 27px;
        width: 100px;
      }

      nav {
        height: 27px;
        align-items: center;
      }
    }
  }
}
</style>
